<ion-view view-title="Evencial">
  <ion-content class="padding">
  <p></p>
    
	<div class="bar bar-header">
	<button class="button icon ion-navicon" ui-sref="tab.account"> </button>
	
	
	
	<button class="button icon ion-gear-a"></button>
	
	</div>


	<a class="button icon-left ion-chevron-left button-clear button-dark">Back</a>
	<button class="button icon-right ion-home">Home</button>
	<button class="button icon ion-gear-a"></button>
	
	<h2><center>Welcome to Evencial</center></h2>
    <p><center>
    Evencial is your go-to place for all university sponsored, local, or private events.
	</center></p>
	<p><center>
	New users can register through Facebook.
	</center></p>
    

    <div align="center"><button type="button" class="btn btn-primary btn-large" data-ng-show="!logged" data-ng-disabled="!facebookReady" data-ng-click="IntentLogin()">Login with Facebook</button></div>
	
	<br></br>
	
	<center><img src="party.jpg" alt="Event" style="width:100%;height:auto;"></center>
	
	
  </ion-content>
</ion-view>
