<!--
<ion-view view-title="Events">
  <ion-content class="padding">
    <ion-list>

      <ion-item href="https://www.facebook.com/events/934032583351127/">
        <div class="row">
          <div class="col col-10"><img ng-src="img/jodiesweetin.jpg"></div>
          <div class="col">
            <h2>Jodie Sweetin</h2>
            <p>A young star's road to recovery</p>
          </div>
        </div>
      </ion-item>

      <ion-item href="https://www.facebook.com/events/1639758216275594/">
        <div class="row">
          <div class="col col-10"><img ng-src="img/iceskating.jpg"></div>
          <div class="col">
            <h2>Ice Skating After Dark</h2>
            <p>Go skating downtown at the new PPG Ice Rink</p>
          </div>
        </div>
      </ion-item>

    </ion-list>
  </ion-content>
</ion-view>
 -->


<ion-view view-title="Events">
  <ion-content class="padding">
    <!--
<div class="bar bar-header item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="search" placeholder="Search">
      </label>
      <button class="button button-clear">
        Cancel
      </button>
    </div>
 -->

    <div class="list">
      <a class="item item-thumbnail-left" href="https://www.facebook.com/events/934032583351127/">
        <img src="img/jodiesweetin.jpg">
        <h2>Jodie Sweetin</h2>
        <p>A young star's road to recovery</p>
      </a>
    </div>

    <div class="list">
      <a class="item item-thumbnail-left" href="https://www.facebook.com/events/1639758216275594/">
        <img src="img/iceskating.jpg">
        <h2>Ice Skating After Dark</h2>
        <p>Go skating downtown at the new PPG Ice Rink</p>
      </a>
    </div>

    <div class="list">
      <a class="item item-thumbnail-left" href="https://www.eventbrite.com/e/rihanna-concert-tickets-win-a-vip-concert-packages-tickets-20992329623?aff=ebrowse">
        <img src="img/rihanna.jpg">
        <h2>Rihanna Concert</h2>
        <p>See Rihanna in concert</p>
      </a>
    </div>

    <div class="list">
      <a class="item item-thumbnail-left" href="http://www.innovation.pitt.edu/event/she-innovates">
        <img src="img/women.jpg">
        <h2>SheInnovates</h2>
        <p>All girls hackathon</p>
      </a>
    </div>

    <div class="list">
      <a class="item item-thumbnail-left" href="http://pitt.edu">
        <img src="img/graduation.jpg">
        <h2>Graduation</h2>
        <p>Class of 2016 graduates</p>
      </a>
    </div>

    <div class="list">
      <a class="item item-thumbnail-left" href="http://birthday.com">
        <img src="img/birthday.jpg">
        <h2>Anastasia's Birthday</h2>
        <p>She's getting old</p>
      </a>
    </div>

  </ion-content>
</ion-view>
