<ion-view view-title="Me">
  <ion-content>
    <!--
<div align="center" class="circular">
      <img src="img/mz.jpg" alt="profile">
    </div>

    <div align="center">
      <button type="button" class="btn">
        Settings
      </button>
    </div>

    <ion-list>
    <ion-toggle  ng-model="settings.enableFriends">
        Enable Friends
    </ion-toggle>
    </ion-list>





    style="width:30%;height:auto;"
 -->

    <div class="row">
      <div class="col col-33"><img src="img/cm.jpg" alt="profile" style="width:90%;height:auto;"></div>
      <div class="col col-33"><img src="img/coccoonmark.jpg" alt="profile" style="width:90%; height:auto;";></div>
      <div class="col col-33"><img src="img/butterflymark.jpg" alt="profile" style="width:90%;height:auto;"></div>
    </div>
  </ion-content>
</ion-view>
